/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 9.27.31
    Author     : matteo
*/

header {
    font: 25px/25px Tahoma, Geneva, sans-serif;
    background: #ffffff;
    text-align: left;
    
      
}

#barranavigazione{
    border-bottom: 5px solid #dd4b39;
    margin-bottom: 5px;
   
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    border-style: solid;
    border-color: black;
    text-align: match-parent;
}

body{
    background-color:#E6E6FA;
    font: 17px/25px "Open Sans", Arial, sans-serif;    
}



a:link{
    font: 20px/20px Tahoma, Geneva, sans-serif;
    text-decoration: red;
    color:#ffffff;
    margin-bottom: 5px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    border-color: black;
}

nav ol, nav li {
    list-style-type: nome;
    display: inline-block;
}

nav li {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #111111;
    
}

#descrizione {
    font: 20px/20px Tahoma, Geneva, sans-serif;
    background: #ffffff;
    text-align: left;
}
#iscrizione {
    font: 20px/20px Tahoma, Geneva, sans-serif;
    background: #ffffff;
    text-align: left;
    
}
h1 {
color: #dd4b39;

}

/* pagina login */

#login {
    border-bottom: 5px solid #dd4b39;
    margin-bottom: 5px;
   
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: black;
    text-align: center;
    
    
}